<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return</title>
    <link rel="stylesheet" href="/css/produktside.css">
</head>
<body>
<div class="produktside">
    <!--Venstre side (Menu)-->
    <div class="sidebar">
        <div class="titel">
            <div class="smbl"><img src="/images/loanudstyr.svg"></div>
            <header>
                Lånesystem for skoler
            </header>
        </div>
        <div class="menu">
            <div class="submenu">
                <div class="smbl"><img src="/images/udstyr.svg"></div>
                <h2><a href="/produktside">Udstyr</a></h2>
            </div>
            <div class="submenu">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/myloan">Mine lån</a></h2>
            </div>

            <div class="submenu" th:if="${session.user.isAdmin}">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/returnere">Afleverer</a></h2>
            </div>


        </div>
        <div class="logud">
            <div class="smbl"><img class="logudsmbl" src="/images/logud.svg"></div>
            <footer>
                <a href="/logout">Log ud</a>
            </footer>
        </div>
    </div>

    <!-- Udstyr skal vises -->
    <div class="produktpage">

    </div>
</div>
</body>
</html>