<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brugere</title>
    <link rel="stylesheet" href="/css/produktside.css">
    <link rel="stylesheet" href="/css/brugere.css">
</head>
<body>
<div class="produktside">
    <!--Venstre side (Menu)-->
    <div class="sidebar">
        <div class="titel">
            <div class="smbl"><img src="/images/loanudstyr.svg"></div>
            <header>
                Lånesystem for skoler
            </header>
        </div>
        <div class="menu">
            <div class="submenu">
                <div class="smbl"><img src="/images/udstyr.svg"></div>
                <h2><a href="/produktside">Udstyr</a></h2>
            </div>
            <div class="submenu">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/myloan">Mine lån</a></h2>
            </div>

            <div class="submenu" th:if="${session.user.isAdmin}">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/returnere">Afleverer</a></h2>
            </div>

            <!-- admin kan se alle brugere eller oprette ny bruger-->
            <div class="submenu" th:if="${session.user.isAdmin}">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/brugere">Brugere</a></h2>
            </div>

            <div class="submenu" th:if="${session.user.isAdmin}">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/administration">Administration</a></h2>
            </div>


        </div>
        <div class="logud">
            <div class="smbl"><img class="logudsmbl" src="/images/logud.svg"></div>
            <footer>
                <a href="/logout">Log ud</a>
            </footer>
        </div>
    </div>

    <!-- Udstyr skal vises -->
    <div class="produktpage">
        <div class="overmenu">
            <h2>Brugere</h2>
            <nav>
                <a href="/brugere">Alle Brugere</a>
                <a href="/opretkonto">Opret Konto</a>
            </nav>
        </div>

        <div class="subbody" th:if="${isActive}" >

            <form action="/insertkonto">
                <label for="user">User :</label>
                <input type="text" id="user" name="user" />

                <label for="password">Password :</label>
                <input type="password" id="password" name="password" />

                <label for="isAdmin">Er det Admin ?
                    <input type="checkbox" id="isAdmin" name="isAdmin"  />
                </label>

                <p style="color: red" th:text="${msg}"></p>

                <button type="submit">Opret konto</button>
            </form>
        </div>

        <div class="subbody" th:unless="${isActive}" >
            <table>
                <thead>
                <tr th:unless="${isActive}">
                    <th>Username</th>
                    <th>Password</th>
                    <th>isAdmin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.isAdmin}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>