<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lån</title>
    <link rel="stylesheet" href="/css/produktside.css">
    <link rel="stylesheet" href="/css/loan.css">
</head>
<body>
<div class="produktside">
    <!--Venstre side (Menu)-->
    <div class="sidebar">
        <div class="titel">
            <div class="smbl"><img src="/images/loanudstyr.svg"></div>
            <header>
                Lånesystem for skoler
            </header>
        </div>
        <div class="menu">
            <div class="submenu">
                <div class="smbl"><img src="/images/udstyr.svg"></div>
                <h2><a href="/produktside">Udstyr</a></h2>
            </div>
            <div class="submenu">
                <div class="smbl"><img src="/images/minelan.svg"></div>
                <h2><a href="/myloan">Mine lån</a></h2>
            </div>
        </div>
        <div class="logud">
            <div class="smbl"><img class="logudsmbl" src="/images/logud.svg"></div>
            <footer>
                <a href="Login%20function.html">Log ud</a>
            </footer>
        </div>
    </div>


    <!-- lån-knap  -->
    <div class="produktpage">
        <div class="loanside">
            <h2 class="loantitel">Lån Udstyr</h2>
            <div class="loanudstyrInfo">
                <div class="loanudstyr">
                    <p>id : <span th:text="${product.id}"></span></p>
                    <p>Udstyr navn : <span th:text="${product.name}"></span></p>
                    <p>Beskrivelse : <span th:text="${product.description}"></span></p>
                    <p>Stk : <span th:text="${product.stock}"></span></p>
                </div>
                <div>
                    <img id="billede" th:src="@{/images/{fil}(fil=${product.picturePath})}"/>
                </div>
            </div>
            <div class="loandetaljeret">
                <p>Låner</p>
                <select name="loan">

                    <div th:unless="${session.user.isAdmin}">


                        <option th:text="${session.user.username}"></option>

                    </div>

                    <div th:if="${session.user.isAdmin}">

                        <div th:each="user:${users}">
                            <option th:text="${user.username}"></option>
                        </div>

                    </div>

                </select>
                <p>Afleverings Dato</p>
                <input name="afleveringsdato" type="date" th:min="${date}" max="2028-01-01" required>
                <p>Bæmerkning(Valgfri)</p>
                <input type="textarea" placeholder = "Du kan skrive her noget...">
            </div>

            <div class="loanbtn">
                <button type="button" value="Annulere" class="cancelBtn"  onclick="window.location.href='/produktside'">Annulere</button>
                <form action="/confirm" method="get">
                    <input type="hidden" name="productid" th:value="${product.id}">
                    <input type="hidden">
                    <button type="submit" class="approvalBtn">Bekræft lån</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>