<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/LoginSystem.css">


</head>
<body>
<div class="LoginCard">
<div class="LeftSide">

<header>
    <h1>Lånesystem for folkeskoler</h1>
    <p class="Logintext">Log ind for at låne og aflevere skolens udstyr</p>

</header>
</div>
<div class="RightSide">
    <h2>Log ind</h2>
    <div class="userChoice">
        <nav class="choice">
            <a id="elevlink" href="#">Elev</a>
            <a id="adminlink" href="#">Admin</a>
        </nav>
    </div>
    <form action="produktside.html">
        <label for="skolemail">Skolemail:</label><br>
        <input type="email" id="skolemail" name="skolemail" placeholder="navn@skolemail.dk"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="********"><br><br>
        <input class="btn" type="submit" value="Submit"><br>
        <a class="forgot" href="ForgotPassword.html">Glemt adgangskode?</a>
    </form>


</div>

</div>

<script src="../public/js/loginsystem.js" defer></script>
</body>
</html>

<!-- HTML jndje -->