<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produktside</title>
    <link rel="stylesheet" href="../public/css/produktside.css">
</head>
<body>
    <div class="produktside">
        <div class="sidebar">
            <div>S</div>
            <header>
                Låne Skole System
            </header>
            <div>

            </div>
            <footer>
                Log ud
            </footer>
        </div>
        <div>

        </div>
    </div>
</body>
</html>