<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produktside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/produktside.css">
</head>
<body>
    <div class="produktside">
        <!--Venstre side (Menu)-->
        <div class="sidebar">
            <div class="titel">
                <div class="smbl"><img src="../public/images/låneudstyr.svg"></div>
                <header>
                    Lånesystem for skoler
                </header>
            </div>
            <div class="menu">
                <div class="submenu">
                    <div class="smbl"><img src="../public/images/udstyr.svg"></div>
                    <h2><a href="produktside.html">Udstyr</a></h2>
                </div>
                <div class="submenu">
                    <div class="smbl"><img src="../public/images/minelan.svg"></div>
                    <h2><a href="#">Mine lån</a></h2>
                </div>
            </div>
            <div class="logud">
                <div class="smbl"><img class="logudsmbl" src="../public/images/logud.svg"></div>
                <footer>
                    <a href="Login%20function.html">Log ud</a>
                </footer>
            </div>
        </div>

        <!-- Udstyr skal vises -->
        <div class="produktpage">
            <div class="search">
                <h3>Udstyr</h3>
                <p  class="src-icon"><img src="../public/images/magnifyingglass.svg"></p>
                <input type="search" id="srch" name="search" placeholder="Søge efter udstry...">
                <p><a href="#"><img class="srchsmbl" src="../public/images/search.svg"></a></p>
            </div>

            <div class="udstyrliste">

                <table>
                    <thead>
                    <tr>
                        <th>Billede</th>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Stk.</th>
                        <th>Status</th>
                        <th>Afleveringsdato</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>

            </div>

            <div class="chckbox">
                <p>Sidetal :</p>
                <select name="pagenumber">



                </select>
            </div>


        </div>
    </div>

    <script src="../public/js/produktside.js" defer></script>
</body>
</html>